@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');


:root {
    --color-text: #0a0a0a;
    --color-principal: #ffff;
    --color-secondary: #FF6B6B;
    --color-lineY: #FCE027;
    --color-background: #ffff;
    --color-footer: #FF6B6B;
    --color-diagonal: #FF6B6B;
    --radius-line: 30px;
    --width-line: 40%; 
    --height-line: 7px; 
}

*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

.diagonal_back{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(to bottom right, #fff 50%,#FF6B6B 50%);
}
@media all and (max-width:768px){
    .diagonal_back{
        height: 100%;
    }
}
.navbar-brand img{
width: 60px;
}

.landing{
    padding-top: 10rem;
    background-color: white;
}

.line-yellow{
    background-color: var(--color-lineY) !important;
    height: 7px;
    border-radius: 30px;
    width: 40%;
}

@media all and (max-width:768px){
    body{
        font-size: 0.7rem;
    }
    .landing{
        display: block !important;
    }
    .test{
        display: block !important;
        padding-top: 5vh;        
    }
    .banner_food{
        display: flex;
        justify-content: center
    }
    .banner_food img{
        width: 90%;;
    }
    .contact{
        width: 50% !important;
    }
    .card_container{
        align-items: center;
        flex-direction: column;
    }
    .card{
        width: 18rem !important;
        margin: 1rem 0 1rem 0;
    }
}

.text-bold{
    font-weight: 700;
}

.card_container{
    padding-top: 20%;
}
.contact{
    width: 20%;
    box-shadow: 5px 5px black;
}
.card-body{
    padding: 0 !important;
}
.featured{
    right: 11% !important;
    top: 25% !important;
    background-color: #AF1013;
    width: 10%;
    box-shadow: 5px 5px black;
    border-radius: 5px;
}
@media all and (max-width:768px){
    .featured{
        width: 50%;
        top: 0% !important;
        right: 0% !important;
        margin-left: 0rem !important;
        margin-right: 2.7rem !important;
    }
    .aboutUs_container{
        display: inline !important;
    }
    .aboutUs_title{
        display: flex;
        justify-content: center;
    }
    .aboutUs_title p{
        margin: 1rem 0.5rem 0rem 0rem !important;
    }
    .aboutUs_line{
        display: flex !important;
    }
    .aboutUs_line .line-yellow{
        width: 80%;
    }
    .form_container{
        width: 100% !important;
        flex-direction:column ;
        align-items: center;
        margin: 0rem 0rem 0rem 0rem !important;
        border-radius: 25px 25px 0px 0px !important;
    }
    .inf{
        border-radius: 25px 25px 0px 0px !important;
        width: 100% !important;
    }
    .inf p{
        padding: 2rem 0rem 4rem 0rem !important;
    }
    .form_networks{
        display: none;
    }
    .w-50{
        width: 100% !important;
    }
    .form_subtitle {
        margin: 0rem 0rem 0rem 0.5rem !important;
    }
    .form-submit{
    justify-content: center !important;
    }
    .footer_container{
        justify-content: center !important;
        display: block !important;
    }
    .footer_networks{
        padding: 0rem 3rem 0rem 8rem !important;
        display: block !important;
        flex-direction: row !important;
    }
}
.inf{
    background-color:  var( --color-secondary);
}
.w-60{
    width: 90%;
    box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.25);
}
.shadow{
    box-shadow:   2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}
textarea{
    border: none;
    overflow: auto;
    resize: none;
}

footer{
    background-color: var(--color-secondary);
}
footer img{
    widows: 30px;
    height: 30px;
}

