@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

:root {
  --color-text: #0a0a0a;
  --color-principal: #ffff;
  --color-secondary: #ff6b6b;
  --color-lineY: #fce027;
  --color-background: #ffff;
  --color-footer: #ff6b6b;
  --color-diagonal: #ff6b6b;
  --color-rojo: #af1013;
  --color-naranja: #ff8025;
  --radius-line: 30px;
  --width-line: 40%;
  --height-line: 7px;
}

* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

/********************** Navbar **********************/
.navbar-brand img {
  width: 90px;
}

.active {
  color: var(--color-rojo) !important;
}

/********************** Footer **********************/
footer {
  background-color: var(--color-secondary);
}

.pDerechos {
  color: #f2e5e5;
}

footer img {
  widows: 30px;
  height: 30px;
}

.zoom {
  transition: 300ms;
}
.zoom:hover {
  transform: scale(1.1);
  border-color: #000;
}
/********************** Titulo **********************/
.titulo {
  margin-top: 140px;
  padding: 10px;
}

.titulo h1 {
  font-weight: 700;
  font-size: 40px;
  color: var(--color-text);
  text-transform: uppercase;
}

.linea {
  background-color: var(--color-lineY);
  height: 7px;
  border-radius: 30px;
  width: 15%;
  margin-bottom: 20px;
}

/********************** Acordeon **********************/
.preguntas {
  padding: 40px;
  border-radius: 40px;
  background: #fefefe;
  box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.25);
  margin-top: 20px;
  margin-bottom: 100px;
}

.acordeon {
  width: 100%;
  color: var(--color-text);
  background-color: white;
}

.acordeon .contenedor {
  position: relative;
  margin: 10px 10px;
}

.img-fondo-cinta {
  width: 100%;
}

/* Posiciona las etiquetas en relación con el contenedor. Añade relleno en la parte superior e inferior y aumenta el tamaño de la fuente. También hace que su cursor sea un puntero */
.acordeon .etiqueta {
  position: relative;
  padding: 10px 0;
  font-size: 25px;
  font-weight: 700;
  color: black;
  cursor: pointer;
}

/* Posiciona el signo más a 5px de la derecha. Lo centra utilizando la propiedad transform. */
.acordeon .etiqueta::before {
  content: '+';
  color: black;
  position: absolute;
  top: 60%;
  right: 15px;
  font-size: 50px;
  font-weight: 300;
  transform: translateY(-50%);
}

.acordeon .numero {
  padding: 20px;
  font-weight: 700;
  font-size: 35px;
  color: var(--color-diagonal);
}

/* Oculta el contenido (altura: 0), disminuye el tamaño de la fuente, justifica el texto y añade la transición */
.acordeon .contenido,
.contenidoCatalogo {
  position: relative;
  background: white;
  height: 0;
  font-size: 17px;
  font-weight: 400;
  text-align: justify;
  width: 100%;
  overflow: hidden;
  transition: 0.5s;
  padding-left: 90px;
}

/* Añade una línea horizontal entre los contenidos */
.acordeon hr {
  width: 100;
  border: 1px solid rgba(205, 214, 218);
}

/* Muestra la parte de contenido cuando está activa. Establece la altura */
.acordeon .contenedor.activa .contenido {
  height: 650px;
}

/* Muestra la parte de contenido cuando está activa. Establece la altura */
.acordeon .contenedor.activa .contenidoCatalogo {
  height: 1800px;
}

/* Cambia de signo positivo a negativo una vez activado */
.acordeon .contenedor.activa .etiqueta::before {
  content: '-';
  font-size: 50px;
  font-weight: 300;
}

.grupo-img {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.imagen-producto {
  width: 300px;
}

/********************** MediaQuery **********************/
@media screen and (max-width: 1199px) {
  .acordeon .contenedor.activa .contenido {
    height: 950px;
  }

  .acordeon .contenedor.activa .contenidoCatalogo {
    height: 2500px;
  }
}

@media screen and (max-width: 991px) {
  .smooth_scroll {
    display: none !important;
  }
  /********************** Navbar **********************/
  .navbar {
    background-color: rgb(33 37 41) !important;
    border-bottom-right-radius: 10px 10px;
    border-bottom-left-radius: 10px 10px;
  }
  .nav-item a {
    color: #fff !important;
  }
  /********************** Titulo **********************/
  .titulo {
    margin-top: 140px;
    padding: 10px;
    text-align: center;
  }

  .linea {
    background-color: var(--color-lineY);
    height: 7px;
    border-radius: 30px;
    width: 100%;
    margin-bottom: 20px;
  }

  .acordeon .contenedor.activa .contenido {
    height: 800px;
  }

  .acordeon .contenedor.activa .contenidoCatalogo {
    height: 2000px;
  }

  .imagen-producto {
    width: 250px;
  }
}

@media screen and (max-width: 768px) {
  .preguntas {
    padding: 5px;
  }

  .imagen-producto {
    margin: 0 auto;
    width: 300px;
    margin-right: 60px;
  }

  .acordeon .contenedor.activa .contenido {
    /* height: 2600px; */
    height: 100%;
  }

  .acordeon .contenedor.activa .contenidoCatalogo {
    /* height: 7200px; */
    height: 100%;
  }

  .imagen-producto {
    width: 95%;
  }

  .acordeon .contenido,
  .contenidoCatalogo {
    padding-left: 45px;
  }
}

.accordion-header {
  height: 300px;
}

.bg-image {
  background-image: url('../assets/images/fondo-sinTac.png');
  width: 100%;
  height: 100%;
}

/* prueba texto en imagen */
.content {
  position: relative;
  overflow: hidden;
}

.content .content-overlay {
  background: rgba(0, 0, 0, 0.7);
  position: absolute;
  height: 99%;
  width: 100%;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
  -webkit-transition: all 0.4s ease-in-out 0s;
  -moz-transition: all 0.4s ease-in-out 0s;
  transition: all 0.4s ease-in-out 0s;
}

.content:hover .content-overlay {
  opacity: 1;
}

.content-image {
  width: 100%;
}

.content-details {
  position: absolute;
  text-align: center;
  padding-left: 1em;
  padding-right: 1em;
  width: 100%;
  top: 50%;
  left: 50%;
  opacity: 0;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.content:hover .content-details {
  top: 50%;
  left: 50%;
  opacity: 1;
}

.content-details h3 {
  color: #fff;
  font-weight: 500;
  letter-spacing: 0.15em;
  margin-bottom: 0.5em;
  text-transform: uppercase;
}

.content-details p {
  color: #fff;
  font-size: 0.8em;
}

.fadeIn-bottom {
  top: 80%;
}

.fadeIn-top {
  top: 20%;
}

.fadeIn-left {
  left: 20%;
}

.fadeIn-right {
  left: 80%;
}
/********************** SmoothScroll **********************/
html {
  scroll-behavior: smooth !important;
}
.smooth_scroll {
  position: fixed;
  top: 50%;
  left: 90%;
  display: inline-block;
}

.smooth_scrollWhite {
  display: none;
  position: absolute;
  right: 0%;
  top: 8%;
  z-index: 99;
}

.smooth_scroll:hover .smooth_scrollWhite {
  display: inline;
}

.smooth_scroll:hover .smooth_scrollRed {
  opacity: 0;
}
/**********************************************************/
